.pokemon{
    background-color: #f6f6f9;
    border-radius: 25px;
    cursor: pointer;
}

.pokemon img{
    width: 100%;
}

.pokemon p{
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    background-color: #e0e0e4;
    border-radius: 0 0 25px 25px;
}